@use "../utilities/variables" as *;

.card-img-top {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.card {
    background-color: $secondary-color;
    border: 2px solid $text-color;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}